.loginForm{
    display: flex;
    /* width: 480px; */
    /* height: 460px; */
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 30px;
}

.loginForm p{
    font-size: 25px;
    margin-bottom: 15px;
}
label{
    margin-bottom:10px;
    font-size: 20px;
    
}

input{
    margin-bottom: 20px;
    width: 400px;
    padding: 10px;
    justify-content: normal;
    border-radius: 20px;
    border: none;
}

.errorMessage{
    border:1px solid red;
    padding: 10px 0px 10px 58px;
    margin: 30px;
    
    background-color: #ff9c9c;
}