.Nav{
    display: flex;
    width: 200px;
    position: absolute;
    right: 125px;
    top: 30px;
    justify-content: space-around;
}

.loggedIn{
    display: flex;
    flex-direction: column;
    float: right;
}

.logout{
    float:right;
}

.smallButtons{
    background-color: #5158BB;
    border-radius: 20px;
    padding: 7px 6px;
    border: none;
    width: 80px;
    cursor: pointer;
    color: #fff;
}
