.Nav{
    display: flex;
    width: 200px;
    position: absolute;
    right: 125px;
    top: 30px;
    justify-content: space-around;
}

.loggedIn{
    display: flex;
    flex-direction: column;
    float: right;
}

.logout{
    float:right;
}

