.postForm{
    margin: 0px 0px 0px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cecece;
}

#labelInput{
    font-size: 20px;
}

textarea { 
    width: 500px;
    height: 100px;
    overflow-y: scroll;
    resize: none;
    margin:20px 0px;
}

button:disabled {
    background-color: #b5b4b7;
}

button[disabled]:hover {
    background-color: #b5b4b7;
}