.RegisterLogin{
    position: absolute;
    top: 30px;
    left: 375px;
    /* background-image: url('../Images/Background.jpg');
    background-size: 500px;
    background-repeat: no-repeat; */
    background-color: #ead0ff;
}

.buttonsDiv{
    position: relative;
    top: -30px;
}

.lgButtons{
    width: 250px;
    height: 50px;
    border: none;
    border-left: 1px solid;
    color: #c3b8b8;
    background-color: rgb(61 76 141);
    opacity: 88%;
   
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 20px;
}

.lgButtons:hover{
    background-color: #5007bc;
    color: #fff;
}

.active{
    background-color: #4226c3;
    color: #fff;
    cursor: not-allowed;
}