.SideBar{
   padding-left: 25px;
   width: 50px;
   height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.SideBar p{
   font-size: 22px;
    color: blue;
    padding-top: 10px;
}

.sideBarImg{
   width: 50px;
   margin-bottom: 20px;

}